<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mathcal" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>mathcal</name>
    <js-module name="mathcal" src="www/mathcal.js">
        <clobbers target="cordova.plugins.mathcal" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="mathcal">
                <param name="android-package" value="cordova.plugin.mathcal.mathcal" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/mathcal.java" target-dir="src/cordova/plugin/mathcal/mathcal" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="mathcal">
                <param name="ios-package" value="mathcal" />
            </feature>
        </config-file>
        <source-file src="src/ios/mathcal.m" />
    </platform>
</plugin>